.my-view-view {
  padding: 2px;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
  --cv-blue: 212 96% 54%;
  --cv-purple: 259 97% 66%;
  --cv-dropzone-border-color: hsl(var(--cv-blue) / 0.5);
  --cv-dropzone-bg-color: hsl(var(--cv-blue) / 0.2);
  --cv-droptarget-border-color: hsl(var(--cv-purple) / 1);
  --cv-droptarget-bg-color: hsl(var(--cv-purple) / 0.4);
  --cv-stripe-width: 1.5px;
  --cv-stripe-gap: 9px;
  --cv-stripe-color: hsl(var(--cv-blue) / 0.2);
  --cv-layout-border-color: var(--lumo-contrast-40pct);
  --cv-checkerboard-color1: hsl(0 0% 0% / 0.05);
  --cv-checkerboard-color2: hsl(0 0% 100% / 0.05);
  --cv-checkerboard-size: 16px;
}

.my-view-view[dragging] {
  --cv-checkerboard-color1: hsl(var(--cv-blue) / 0.2);
  --cv-checkerboard-color2: hsl(var(--cv-blue) / 0.1);
  --cv-layout-border-color: var(--cv-dropzone-border-color);
}

.my-view-view .preview-container {
  display: contents;
}

/* The root layout is not necessarily inside a flex box so width/height needs to be used */
.my-view-view .preview-container > .layout[style*='align-self: stretch'] {
  width: 100%;
}
.my-view-view .preview-container > .layout[style*='flex-grow: 1'] {
  height: 100%;
}

/* Apply some default gap and padding to layouts that don't have inline styles for them while dragging. */
.my-view-view[dragging] .layout:not([style*='gap:']) {
  gap: 8px;
}

.my-view-view[dragging] .layout:not([style*='padding:'], [empty]) {
  padding: 8px;
}

.my-view-view .cover-overlay {
  position: absolute;
  border-radius: 1px;
}

.my-view-view:not([starting-drag]) .cover-overlay.editable-hovering {
  outline: 2px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
}

.my-view-view:not([starting-drag]) .cover-overlay.editable-editing {
  outline: 1px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.my-view-view .overlays,
.my-view-view .drop-zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.my-view-view:not([dragging]) .drop-zones {
  pointer-events: none;
}

.my-view-view .drop-zone {
  position: absolute;
  box-sizing: border-box;
  border-radius: 1px;
  min-height: 10px;
  min-width: 10px;
}

.my-view-view[dragging] .drop-zone:not([empty-layout]) {
  outline: 1px dashed var(--cv-dropzone-border-color);
  outline-offset: -2px;
  background-color: var(--cv-dropzone-bg-color);
}

.my-view-view .drop-zone[remaining-space] {
  background: repeating-linear-gradient(
    -45deg,
    var(--cv-stripe-color),
    var(--cv-stripe-color) var(--cv-stripe-width),
    transparent var(--cv-stripe-width),
    transparent var(--cv-stripe-gap)
  );
}

.my-view-view[dragging] .drop-zone[drag-over] {
  background: var(--cv-droptarget-bg-color);
  outline: 1px solid var(--cv-droptarget-border-color);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.drop-zone[empty-layout] {
  z-index: -1;
}

.my-view-view:not([readonly]) .layout[empty],
vaadin-form-layout[empty] {
  border-radius: 1px;
  background: repeating-conic-gradient(var(--cv-checkerboard-color1) 0% 25%, var(--cv-checkerboard-color2) 0% 50%) 50% /
    var(--cv-checkerboard-size) var(--cv-checkerboard-size);
  background-clip: content-box;
  outline: 1px dashed var(--cv-layout-border-color);
  outline-offset: -2px;
}
.my-view-view[dragging]:not([readonly]) vaadin-form-layout[empty] {
  background: transparent;
}

.my-view-view .layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.my-view-view[readonly] .drop-zones,
.my-view-view[readonly] .overlays {
  display: none;
}

.my-view-view[inline-editing] .drop-zones,
.my-view-view[inline-editing] .overlays {
  display: none;
}
.my-view-view .content-wrapper[contenteditable='true'] {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.my-view-view[dragging] vaadin-form-layout {
  padding: 8px;
}
.my-view-view vaadin-form-layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.my-view-view[dragging] vaadin-form-layout:not([empty])::after {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}


.container {
    border: solid 2px black;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;

}

.grid-item {
    display: flex;
    width: 100px;
    height: 50px;
    background-color: #444;
    overflow: hidden;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 3s, width 2s ease, height 2s ease;
    /*transform-origin: center;*/
}


.grid-item.active {
    background-color: #ff9800;
    /*transform: scale(1.1);*/
    border: solid 10px yellow;
}

.grid-item.final {
    position: relative;
    border-radius: 5px;
    width: 300px;
    height: 445px;
    padding: 0px;
    background-color: #fff;
    color: white;
    border: solid black 5px;
    /*transform: translate(calc(var(--x-offset, 0px) * 1), calc(var(--y-offset, 0px) * 1));*/
}

.grid-item.final:nth-child(1)  {

    transform: rotate(0deg);
    background: #c8e6c9; }
.grid-item.final:nth-child(2)  { transform: rotate(12deg);
    background: #e1bee7; }
.grid-item.final:nth-child(3)  { transform: rotate(24deg);
    background: #ffccbc; }
.grid-item.final:nth-child(4)  { transform: rotate(36deg);
    background: #bbdefb; }
.grid-item.final:nth-child(5)  { transform: rotate(48deg);
    background: #fff9c4; }
.grid-item.final:nth-child(6)  {
    background: #c8e6c9; }
.grid-item:nth-child(7)  {
    transform-origin: left center;
    background: #e1bee7; }
.grid-item.final:nth-child(8)  { transform: rotate(84deg);
    background: #ffccbc; }
.grid-item.final:nth-child(9)  { transform: rotate(96deg);
    background: #bbdefb; }
.grid-item.final:nth-child(10) { transform: rotate(108deg);
    background: #fff9c4; }
.grid-item.final:nth-child(11) { transform: rotate(120deg);
    background: #c8e6c9; }
.grid-item.final:nth-child(12) { transform: rotate(132deg);
    background: #e1bee7; }
.grid-item.final:nth-child(13) { transform: rotate(144deg);
    background: #ffccbc; }
.grid-item.final:nth-child(14) { transform: rotate(156deg);
    background: #bbdefb; }
.grid-item.final:nth-child(15) { transform: rotate(168deg);
    background: #fff9c4; }
.grid-item.final:nth-child(16) { transform: rotate(180deg);
    background: #c8e6c9; }
.grid-item.final:nth-child(17) { transform: rotate(192deg);
    background: #e1bee7; }
.grid-item.final:nth-child(18) { transform: rotate(204deg);
    background: #ffccbc; }
.grid-item.final:nth-child(19) { transform: rotate(216deg);
    background: #bbdefb; }
.grid-item.final:nth-child(20) { transform: rotate(228deg);
    background: #fff9c4; }
.grid-item.final:nth-child(21) { transform: rotate(240deg);
    background: #c8e6c9; }
.grid-item.final:nth-child(22) { transform: rotate(252deg);
    background: #e1bee7; }
.grid-item.final:nth-child(23) { transform: rotate(264deg);
    background: #ffccbc; }
.grid-item.final:nth-child(24) { transform: rotate(276deg);
    background: #bbdefb; }
.grid-item.final:nth-child(25) { transform: rotate(288deg);
    background: #fff9c4; }
.grid-item.final:nth-child(26) { transform: rotate(300deg);
    background: #c8e6c9; }
.grid-item.final:nth-child(27) { transform: rotate(312deg);
    background: #e1bee7; }
.grid-item.final:nth-child(28) { transform: rotate(324deg);
    background: #ffccbc; }
.grid-item.final:nth-child(29) { transform: rotate(336deg);
    background: #bbdefb; }
.grid-item.final:nth-child(30) { transform: rotate(348deg);
    background: #fff9c4; }

